body {
background-color: beige;
  margin: 0;
  padding: 0;
}

h1, h3, p {
  margin: 10px;
  text-decoration: underline;
  text-decoration-color: brown;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}

h3 {
  text-decoration: underline;
  text-decoration-color: brown;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: brown;
  display: flex;
  justify-content: center; 
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

img {
  width: 400px;
  border: brown 12px dotted;
  border-radius: 50%;
}


